@model Project.Models.ViewModel.ItemViewModel

@{
    ViewBag.Title = "DetailsClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var comments = (IEnumerable<Project.Models.tblComment>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<aside id="colorlib-hero" class="breadcrumbs">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('../../images/cover-img-1.jpg');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Vehicles Details</h1>
                                <h2 class="bread"><span><a href="index.html">Home</a></span> <span>Vehicle</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div class="colorlib-shop">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-10 col-md-offset-1">
                <div class="product-detail-wrap">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-entry">
                                <div class="product-img" style="background-image: url(/images/Vehicle/@Model.VehiclePhoto);">



                                    <p class="tag">
                                        @if (Model.VehicleStatus == "Booked")
                                        {
                                            <span class="sale">@Html.DisplayFor(model => model.VehicleStatus)</span>

                                        }
                                        else
                                        {
                                            <span class="new">@Html.DisplayFor(model => model.VehicleStatus)</span>
                                        }
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="desc">
                                <h3>@Html.DisplayFor(model => model.VehicleTitle)</h3>
                                <p class="price">
                                    <span> $ @Html.DisplayFor(model => model.VehiclePrice)/PerDay</span>
                                    <i class="starFadeN" id="sRate1"></i><i class="starFadeN" id="sRate2"></i><i class="starFadeN" id="sRate3"></i><i class="starFadeN" id="sRate4"></i><i class="starFadeN" id="sRate5"></i>
                                </p>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                                @*<div class="color-wrap">
                                        <p class="color-desc">
                                            Color:
                                            <a href="#" class="color color-1"></a>
                                            <a href="#" class="color color-2"></a>
                                            <a href="#" class="color color-3"></a>
                                            <a href="#" class="color color-4"></a>
                                            <a href="#" class="color color-5"></a>
                                        </p>
                                    </div>*@
                                @*<div class="size-wrap">
                                        <p class="size-desc">
                                            Size:
                                            <a href="#" class="size size-1">xs</a>
                                            <a href="#" class="size size-2">s</a>
                                            <a href="#" class="size size-3">m</a>
                                            <a href="#" class="size size-4">l</a>
                                            <a href="#" class="size size-5">xl</a>
                                            <a href="#" class="size size-5">xxl</a>
                                        </p>
                                    </div>*@
                                <div class="row row-pb-sm">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                                    <i class="icon-minus2"></i>
                                                </button>
                                            </span>
                                            <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                                    <i class="icon-plus2"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <p><a data-toggle="modal" class="btn btn-primary btn-addtocart" data-target="#myModal"><i class="icon-calendar"></i> Book Now</a></p>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12 tabulation">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
                            @*<li><a data-toggle="tab" href="#manufacturer">Manufacturer</a></li>*@
                            <li><a data-toggle="tab" href="#review">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in active">
                                <p>@Html.DisplayFor(model => model.Description)</p>

                            </div>
                            @*<div id="manufacturer" class="tab-pane fade">
                                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>

                                </div>*@
                            <div id="review" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h3>@ratingCount Reviews</h3>
                                        <div class="review">
                                            @foreach (var c in comments)
                                            {
                                                <div class="desc">
                                                    <h4>
                                                        <span class="text-left">@c.UserName</span>
                                                        <span class="text-right">@c.ThisDateTime</span>
                                                    </h4>
                                                    <p class="star">
                                                        @for (var i = 1; i <= c.Rating; i++)
                                                        {
                                                            <i class="starGlowN"></i>
                                                        }
                                                        @for (var i = (c.Rating + 1); i <= 5; i++)
                                                        {
                                                            <i class="starFadeN"></i>
                                                        }
                                                        <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                                    </p>
                                                    <p> @Html.Raw(c.Comments.Replace("\n", "<br />"))</p>
                                                    <hr />
                                                </div>


                                            }


                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" style="margin-top:8%">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 style="margin-left:35%"><span class="glyphicon glyphicon-lock center"></span> BOOKING</h2>
            </div>
            <div class="modal-body">


                @using (Html.BeginForm("DetailsClient", "Item", FormMethod.Post, new { @enctype = "multipart/form-data", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()




                    @Html.HiddenFor(model => model.VehicleId);
                    @Html.HiddenFor(model => model.VehiclePhoto);
                    @Html.HiddenFor(model => model.VehiclePrice);
                    @Html.HiddenFor(model => model.VehicleTitle);


                    <div class="form-group col-xs-6">
                        <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> PickUp Date:</label>
                        @*<input type="date" name="cin" class="form-control dates" id="fromDate"
                            placeholder="Check In Date">*@
                        @*@Html.TextBoxFor(model => model.PickUpDate, new {type = "text", @class = "form-control dates", @id = "fromDate", placeholder = "Check In Date" })*@
                        <input type="text" id="fromDate" name="PickUpDate" class="form-control dates" placeholder="Pick Up Date">

                    </div>
                    <div class="form-group  col-xs-6">
                        <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> DropOff Date:</label>
                        @*<input type="date" name="cout" class="form-control dates" id="toDate"
                            placeholder="Check Out Date">*@
                        @*@Html.TextBoxFor(model => model.DropOffDate, new { @class = "form-control dates", @id = "toDate", placeholder = "Check Out Date" })*@
                        <input type="text" id="toDate" name="DropOffDate" class="form-control dates" placeholder="Drop Off Date">
                    </div>

                    <input type="submit" value="BOOK" class="btn btn-primary btn-block glyphicon glyphicon-ok" id="btnSubmit" />
                    @*<a href="@Url.Action("DetailsClient", "Item")" class="btn btn-primary btn-block">
                            BOOK
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>*@



                }
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <p>Need <a href="#">help?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
   

    $(document).ready(function () {
        var dateToday = new Date();
        var disabledDates = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.DisabledDates))';

        console.log(disabledDates);

        var from = $("#fromDate")
            .datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                disabledDates: disabledDates,
                minDate: dateToday,
                todayHighlight: true
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            }),
            to = $("#toDate")
                .datepicker({
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    minDate: dateToday,
                    todayHighlight: true
                })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            var dateFormat = "yy-mm-dd";
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
        var pick = $('#pick').val();
        var drop = $('#drop').val();
        
        $('.dates').change(function () {
            var from = $('#fromDate').val();
            var checkin = new Date(from);
            var to = $('#toDate').val();
            var checkout = new Date(to);
            var date = new Date();

            date.setDate(date.getDate() - 1);

            if (checkin < date) {
                $('#fromDate').val('');
            }

            if (from != null && to != null) {
                if (checkin > checkout) {
                    $('#fromDate').val('');
                    $('#toDate').val('');
                }
            }

            // var millisecondsPerDay = 1000 * 60 * 60 * 24;
            // var millisBetween = checkout.getTime() - checkin.getTime();
            // var days = millisBetween / millisecondsPerDay;
            //$('#days').val(days);

        })
    })




</script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>
