@model IEnumerable<Project.Models.ViewModel.ItemViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/bulma-0.7.4/css/bulma.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Manage Vechicle</li>
            @Html.ActionLink("Create New", "Create", null, new { @class = "button is-primary", style="margin-left:56em" })
        </ol>
    </div><!--/.row-->
    
    <br />

    <table class="table is-hoverable is-striped" style="width: 90%">
        <tr>
            <th>
                S.N
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SN)
                    @Html.HiddenFor(modelItem => item.VehicleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehiclePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTitle)
                </td>
                <td>

                    <img src="~/images/Vehicle/@item.VehiclePhoto" height="40" width="40" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VehicleId }, new { @class = "button is-info" }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "button is-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "button is-danger" })
                </td>
            </tr>
        }

    </table>
</div>