@model Project.Models.tblItem
<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "Rating";
    var comments = (IEnumerable<Project.Models.tblComment>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<aside id="colorlib-hero" class="breadcrumbs">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('../../images/cover-img-1.jpg');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Vehicles Ratings</h1>
                                <h2 class="bread"><span><a href="index.html">Home</a></span> <span>Vehicle</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div class="colorlib-shop">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-md-10 col-md-offset-1">
                <div class="product-detail-wrap">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-entry">
                                <div class="product-img" style="background-image: url(/images/Vehicle/@Model.VehiclePhoto);">



                                    <p class="tag">
                                        @if (Model.VehicleStatus == "Booked")
                                        {
                                            <span class="sale">@Html.DisplayFor(model => model.VehicleStatus)</span>

                                        }
                                        else
                                        {
                                            <span class="new">@Html.DisplayFor(model => model.VehicleStatus)</span>
                                        }
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="desc">
                                <h3>@Html.DisplayFor(model => model.VehicleTitle)</h3>
                                <p class="price">
                                    <span> $ @Html.DisplayFor(model => model.VehiclePrice)/PerDay</span>
                                    <i class="starFadeN" id="sRate1"></i><i class="starFadeN" id="sRate2"></i><i class="starFadeN" id="sRate3"></i><i class="starFadeN" id="sRate4"></i><i class="starFadeN" id="sRate5"></i>
                                </p>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                                @Html.Partial("_CommentBox")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12 tabulation">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
                            @*<li><a data-toggle="tab" href="#manufacturer">Manufacturer</a></li>*@
                            <li><a data-toggle="tab" href="#review">Reviews</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in active">
                                <p>@Html.DisplayFor(model => model.Description)</p>

                            </div>

                            <div id="review" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>@ratingCount Reviews</h3>
                                        <div class="review">
                                            @foreach (var c in comments)
                                            {
                                                <div class="desc">
                                                    <h4>
                                                        <span class="text-left">@c.UserName</span>
                                                        <span class="text-right">@c.ThisDateTime</span>
                                                    </h4>
                                                    <p class="star">
                                                        @for (var i = 1; i <= c.Rating; i++)
                                                        {
                                                            <i class="starGlowN"></i>
                                                        }
                                                        @for (var i = (c.Rating + 1); i <= 5; i++)
                                                        {
                                                            <i class="starFadeN"></i>
                                                        }
                                                        <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                                    </p>
                                                    <p> @Html.Raw(c.Comments.Replace("\n", "<br />"))</p>
                                                    <hr />
                                                </div>


                                            }


                                        </div>
                                        <div id="loader" style="display: none">
                                            <img src="~/images/icon/loading.gif" />>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>
