@model IEnumerable<Project.Models.ViewModel.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/bulma-0.7.4/css/bulma.min.css" rel="stylesheet" />
<div class="container">
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "button is-primary" })
    </p>
    <br />
    <table class="table is-hoverable is-striped" style="width:95%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
           
            <th>
               Action
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
       
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "button is-info" }) |
            @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "button is-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "button is-danger" })
        </td>
    </tr>
        }

    </table>
    </div>