@model IEnumerable<Project.Models.tblItem>
@foreach (var item in Model)
{
    <div class="col-md-3 text-center">


        <div class="product-entry">
            <div class="product-img" style="background-image: url(images/Vehicle/@item.VehiclePhoto);">
                <p class="tag">
                    @if (item.VehicleStatus == "Booked")
                    {
                        <span class="sale">@item.VehicleStatus</span>

                    }
                    else
                    {
                        <span class="new">@item.VehicleStatus</span>
                    }
                </p>
                <div class="cart">
                    <p>
                        @*<span class="addtocart"><a data-toggle="modal" class="btn btn-primary btn-addtocart" data-target="#myModal" data-id="@item.VehicleId"><i class="icon-shopping-cart"></i></a></span>*@
                        <span><a href="@Url.Action("DetailsClient","Item", new { id = item.VehicleId })"><i class="icon-eye"></i></a></span>
                        <span><a href="@Url.Action("Rate","Item", new { id = item.VehicleId })"><i class="icon-heart3"></i></a></span>
                        <span><a href="add-to-wishlist.html"><i class="icon-bar-chart"></i></a></span>
                    </p>
                </div>
            </div>
            <div class="desc">
                <h3><a href="shop.html">@item.VehicleTitle</a></h3>
                <p class="price"><span>$@item.VehiclePrice</span>  </p>
            </div>
        </div>

    </div>
}

