@model IEnumerable<Project.Models.ViewModel.BookingViewModel>

<div class="row">
   
   
    @*<div class="col-md-12">
        <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
        <table class="table table-sm table-hover table-striped">
            <tbody>
               
                    <tr>
                        <th>
                            @Html.DisplayFor(model => model.)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CitizenshipPhoto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PickUpDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DropOffDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AmountPaid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookingStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehiclePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehicleTitle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VehiclePhoto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Days)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AmountLeft)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Payment)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookingId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CitizenshipPhoto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PickUpDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DropOffDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountPaid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookingStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehiclePrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehiclePhoto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Days)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AmountLeft)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payment)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }

                
            </tbody>
        </table>
    </div>*@
</div>

