@model IEnumerable<Project.Models.tblItem>
<div class="colorlib-shop">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                <h2><span>Vehicles For Rent</span></h2>
                <p>We love to tell our successful far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row" id="vehicleSeemore">
            @foreach (var item in Model)
            {
                <div class="col-md-3 text-center">


                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(images/Vehicle/@item.VehiclePhoto);">
                            <p class="tag">
                                @if (item.VehicleStatus == "Booked")
                                {
                                    <span class="sale">@item.VehicleStatus</span>

                                }
                                else
                                {
                                    <span class="new">@item.VehicleStatus</span>
                                }
                            </p>
                            <div class="cart">
                                <p>
                                    @*<span class="addtocart"><a href="@Url.Action("OrderNow","Cart", new { id = item.VehicleId })"><i class="icon-shopping-cart"></i></a></span>*@
                                    <span><a href="@Url.Action("DetailsClient","Item", new { id = item.VehicleId })"><i class="icon-eye"></i></a></span>
                                    <span><a href="@Url.Action("Rate","Item", new { id = item.VehicleId })"><i class="icon-heart3"></i></a></span>
                                    <span><a href="add-to-wishlist.html"><i class="icon-bar-chart"></i></a></span>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="shop.html">@item.VehicleTitle</a></h3>
                            <p class="price"><span>$@item.VehiclePrice</span>  </p>
                        </div>
                    </div>

                </div>
            }




        </div>
        <div id="loader" style="display:none; margin-left: 45%">

            <img src="~/Images/22.gif" />
        </div>

        <p>
            @*<a href="@Url.Action("Shop", "Home")" class="btn btn-primary" style="margin-left: 45%">See More</a>*@
            @Ajax.ActionLink("See More....", "SeeMore", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "vehicleSeemore", InsertionMode = InsertionMode.Replace, LoadingElementId = "loader", LoadingElementDuration = 2000 }, new { @class = "btn btn-primary", style = "margin-left: 45%" })
        </p>


    </div>
</div>
