@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Project.Models.tblItem>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/style.css" rel="stylesheet" />
<aside id="colorlib-hero" class="breadcrumbs">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('../../images/cover-img-1.jpg');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Vehicles</h1>
                                <h2 class="bread"><span><a href="index.html">Home</a></span> <span>Vehicle</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div class="colorlib-shop">
    <div class="container">
        <div class="row">

            <div class="col-md-10 col-md-push-2">
                <div class="row row-pb-lg">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 text-center">
                            <div class="product-entry">
                                <div class="product-img" style="background-image: url(/images/Vehicle/@item.VehiclePhoto);">
                                    <p class="tag">
                                        @if (item.VehicleStatus == "Booked")

                                        {
                                            <span class="sale">@item.VehicleStatus</span>

                                        }
                                        else
                                        {
                                            <span class="new">@item.VehicleStatus</span>
                                        }

                                    </p>
                                    <div class="cart">
                                        <p>
                                            @*<span class="addtocart"><a href="cart.html"><i class="icon-shopping-cart"></i></a></span>*@
                                            <span><a href="@Url.Action("DetailsClient","Item", new { id = item.VehicleId })"><i class="icon-eye"></i></a></span>
                                            <span><a href="@Url.Action("Rate","Item", new { id = item.VehicleId })"><i class="icon-heart3"></i></a></span>
                                            <span><a href="add-to-wishlist.html"><i class="icon-bar-chart"></i></a></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="desc">
                                    <h3><a href="product-detail.html">@item.VehicleTitle</a></h3>
                                    <p class="price"><span>@item.VehiclePrice</span></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-12">
                      
                        @Html.PagedListPager(Model, page => Url.Action("Shop", new { @class = "pagination", page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
                    </div>
                </div>
            </div>


            <div class="col-md-2 col-md-pull-10">
                <div class="sidebar">

                    <div class="side">

                        @Html.Action("CategoryList")

                    </div>

                    <div class="side">
                        <h2>Date Range</h2>
                        @Html.Action("DateRange")
                    </div>
                    @*<div class="side">
                        <h2>Color</h2>
                        <div class="color-wrap">
                            <p class="color-desc">
                                <a href="#" class="color color-1"></a>
                                <a href="#" class="color color-2"></a>
                                <a href="#" class="color color-3"></a>
                                <a href="#" class="color color-4"></a>
                                <a href="#" class="color color-5"></a>
                            </p>
                        </div>
                    </div>
                    <div class="side">
                        <h2>Size</h2>
                        <div class="size-wrap">
                            <p class="size-desc">
                                <a href="#" class="size size-1">xs</a>
                                <a href="#" class="size size-2">s</a>
                                <a href="#" class="size size-3">m</a>
                                <a href="#" class="size size-4">l</a>
                                <a href="#" class="size size-5">xl</a>
                                <a href="#" class="size size-5">xxl</a>
                            </p>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>