@model Project.Models.ViewModel.BookingViewModel

@{
    ViewBag.Title = "Book Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<aside id="colorlib-hero" class="breadcrumbs">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('../../images/cover-img-1.jpg');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Booking Details</h1>
                                <h2 class="bread"><span><a href="index.html">Home</a></span> <span>Vehicle</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>


<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title" style="font-weight:bold; font-size:20px; text-align: center">CONFIRM BOOKING</h1>
            <hr />
            <div class="row row-pb-lg">
                <div class="col-md-10 col-md-offset-1">
                    <div class="product-detail-wrap">

                        <div class="row">
                            <div class="col-md-5">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(/images/Vehicle/@Model.VehiclePhoto);">
                                    </div>
                                </div>
                            </div>
                            @using (Html.BeginForm("OrderNow", "Booking", FormMethod.Post, new { @enctype = "multipart/form-data", autocomplete = "off" }))
                            {

                                @Html.AntiForgeryToken()
                                <div class="col-md-7">
                                    <div class="desc">
                                        <h3>
                                            @Html.HiddenFor(model => model.UserId)
                                            @Html.HiddenFor(model => model.VehicleId)
                                            @Html.HiddenFor(model => model.PickUpDate)
                                            @Html.HiddenFor(model => model.DropOffDate)
                                            @Html.HiddenFor(model => model.TotalAmount)
                                            @Html.HiddenFor(model => model.VehiclePhoto)
                                            @Html.HiddenFor(model => model.VehiclePrice)
                                            @Html.HiddenFor(model => model.VehicleTitle)

                                            <label>Vehicle Title:</label>
                                            @Html.DisplayFor(model => model.VehicleTitle)
                                        </h3>
                                        <p class="price">
                                            <label>Vehicle Price:</label>
                                            <span> Rs @Html.DisplayFor(model => model.VehiclePrice) / Day</span>

                                        </p>
                                        <p class="price">
                                            <label>Number of Days:</label>
                                            <span>
                                                @Html.DisplayFor(model => model.Days) Days
                                            </span>
                                        </p>
                                        <p class="price">
                                            <label>Total Price:</label>
                                            <span> Rs @Html.DisplayFor(model => model.TotalAmount, new { @id = "totalAmount" })</span>

                                        </p>
                                        <p class="price">
                                            <label>PickUp Date:</label>
                                            <span>
                                                @Html.FormatValue("dddd, dd MMMM yyyy", Model.PickUpDate.Value.ToString("dddd, dd MMMM yyyy"))
                                            </span>

                                        </p>
                                        <p class="price">
                                            <label>DropOff Date: </label>
                                            <span>
                                                @Html.FormatValue("dddd, dd MMMM yyyy", Model.DropOffDate.Value.ToString("dddd, dd MMMM yyyy"))
                                            </span>

                                        </p>

                                        <p class="price">
                                            <label>Citizenship Photo:</label>
                                            <span>
                                                @if (Model.CitizenshipPhoto != null)
                                                {

                                                    <img src="~/images/CitizenshipPhoto/@Model.CitizenshipPhoto" height="50" width="70" />
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.CitizenshipPhoto, new { @class = "form-control", @Type = "file", id = "citizenship" })
                                                }
                                                @Html.HiddenFor(model => model.CitizenshipPhoto)

                                            </span>
                                        </p>


                                        <p class="price">
                                            <label class="col-md-3">Amount Pay:</label>

                                            @Html.EditorFor(model => model.AmountPaid, new { id = "amountPaid" })
                                        </p>
                                        @*<p><input type="submit" value="BOOK With Paypal" class="btn btn-primary btn-addtocart" id="SubmitBooking"> </p>*@
                                        <p>
                                            @*<a data-toggle="modal" class="btn btn-primary btn-addtocart" data-target="#myModal"><i class="icon-calendar"></i> Book With Paypal</a>*@
                                            <input type="submit" value="Book" class="btn btn-primary btn-block glyphicon glyphicon-ok" id="book" />
                                        </p>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $('#book').click(function () {
            debugger
            var amountPaid = $('#amountPaid').val();
            var totalAmount = $('#totalAmount').val();
            Console.log(totalAmount);
            if (amountPaid < totalAmount) {
                $('#amountPaid').val('');
                return false;
            }

        });
</script>

