@model Project.Models.ViewModel.BookingViewModel

@{

    Layout = null;
}



@using (Html.BeginForm("Edit", "Booking", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(model => model.BookingId)

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TotalAmount, new { @class = "form-control",  disabled = "disabled", @readonly = "readonly"})
                @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.AmountPaid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.AmountPaid, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AmountLeft, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.AmountLeft, new { @class = "form-control",  disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.AmountLeft, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                }

              </div>
