@model IEnumerable<Project.Models.ViewModel.BookingViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/bulma-0.7.4/css/bulma.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Manage Banner</li>
          
        </ol>
    </div><!--/.row-->

    <table class="table is-hoverable is-striped" style="width: 90%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTitle)
            </th>
            <th>
                User Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CitizenshipPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOffDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStatus)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SN)
            @Html.HiddenFor(modelItem => item.BookingId)

        </td>
        <td>
            <img src="images/Vehicle/@item.VehiclePhoto" height="40" width="40" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitizenshipPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropOffDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingStatus)
        </td>
        td>
        @Html.DisplayFor(modelItem => item.BookingStatus)
        </td>


    </tr>
        }

    </table>
